
body{
    font-family: monospace;
    font-size: 50px;
    color: crimson;
}
.titulo{
    color: aqua;
    font-family: 'Courier New', Courier, monospace; 
    font-weight: 300;
}
.subtitulo{
    font-size: 10px;
}
.paragrafo{
    font-family: 'Courier New', Courier, monospace;
}
.destaque{
    color: aqua;
}